.LoginPage {
  .login-form {
    margin-top: 60px;
    margin-bottom: 20px;

    button {
      width: 100%;
    }

    header {
      text-align: center;

      .logo {
        width: 50%;
        display: inline-block;
      }
    }

    footer {
      margin-top: 20px;
      text-align: center;
      font-style: italic;

      .ve {
        height: 25px;
        vertical-align: bottom;
      }
    }
  }
}