.LoginPage {
  .login-form {
    margin-top: 60px;
    margin-bottom: 20px;

    header {
      text-align: center;

      .logo {
        width: 40%;
        display: inline-block;
      }
    }

    button {
      width: 100%;
    }
  }
}