@import '../../variables';

.ListPage {

  h1 {
    small {
      margin-left: 5px;
      font-style: italic;
      font-weight: lighter;
      font-size: 18px;
    }
  }

  .loading {
    display: inline-block;
    span {
      margin-left: 10px;
    }
  }
}